<mat-card>
  <!-- #postform is local reference of the form of type NgForm , it is passed to the onAddPost() -->
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">

    <mat-form-field>
      <input matInput type="text" placeholder="Post Title" name="title" [ngModel]="post?.title" required minlength="3"
        #title="ngModel" />
      <mat-error *ngIf="title.invalid">Enter a valid post title! (minimum 3 characters)</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="6" placeholder="Post Content" name="content" [ngModel]="post?.content" required maxlength="140"
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Enter valid content.(maximum 140 characters)</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">POST</button>

  </form>
</mat-card>

<!-- <textarea name="new-post" id="new-post" cols="30" rows="6"
 [value]="newPost" #postInput></textarea>
<hr />
<button (click)="onAddPost(postInput)">Save Post</button>
<hr />
<p>{{ newPost }}</p> -->
