<!-- multi="true" allow more than one post to be viewed at the same time -->
<!-- Display post-list if its not empty -->
<mat-accordion multi="true" *ngIf="posts.length > 0">

  <!-- Iterate the array and get posts -->
  <mat-expansion-panel *ngFor="let post of posts">

    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>

    <p>{{ post.content }}</p>

    <!-- action bar for edit,delete buttons -->
    <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit',post.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<!-- if no posts available show message -->
<p class="info-text" *ngIf="posts.length <= 0">No Posts added yet!</p>
